<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/Content/Chart.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .chart-container{
            margin: auto 0;
            min-width: 10rem;
            border-radius: 10px;
            aspect-ratio: 1/1;
        }
    </style>
</head>
<body>
    <h1>Bar Chart</h1>
    <div class="chart-container">
        <canvas id="bar-chart"></canvas>
    </div>

    <script>
        var countsList = @Html.Raw(Json.Encode(ViewBag.CUSTOMERCOUNT));
        var customerNames = @Html.Raw(Json.Encode(ViewBag.NAME));

        var chart = document.getElementById('bar-chart');
        var barChart = new Chart(chart, {

            type: 'bar',
            data: {
                labels: customerNames,
                datasets: [{
                    label: 'Top Customers',
                    data: countsList,
                    backgroundColor: ["rgba(242,166,54,.5)", "rgba(145,65,72,.5)", "(74,25,92,.5)"],
                    borderColor: ["rgb(242,166,54)", "rgb(145,65,72)", "rgb(74,25,92)"],
                    borderWidth:1
                }]
            },
            options: {
                maintainAspectRation: false,
                scales: { xAxes: [{ ticks: { beginAtZero: true } }] },
                legend: { dsiplay: false }
            },
        });

    </script>
</body>

</html>