<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/Content/Chart.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
       
        .chart-container{
            margin: auto 0;
            min-width: 10rem;
            border-radius: 10px;
            aspect-ratio: 1/1;
        }
    </style>
</head>
<body>
    <h1>Bar Chart</h1>
    <div class="chart-container">
        <canvas id="top-customers"></canvas>
        <br />
        <h2>Line Chart</h2>
        <canvas id="profitByMonth"></canvas>
    </div>

    <script>
        //TOP 5 CUSTOMERS
        var countsList = @Html.Raw(Json.Encode(ViewBag.CUSTOMERCOUNT));
        var customerNames = @Html.Raw(Json.Encode(ViewBag.NAME));
        var sumOfOrders = @Html.Raw(Json.Encode(ViewBag.ORDERSUM));

        var chart = document.getElementById('top-customers');
        var barChart = new Chart(chart, {

            type: 'bar',
            data: {
                labels: customerNames,
                datasets: [{
                    label: 'Top Customers By Orders Made',
                    data: countsList,
                    backgroundColor: ["rgba(242,166,54,.5)"],
                    borderColor: ["rgb(242,166,54)"],
                    borderWidth:1
                },{
                    label: 'Top Customers By Items Orderd',
                    data: sumOfOrders,
                    backgroundColor: ["rgba(145,65,72,.5)"],
                    borderColor: ["rgb(145,65,72)"],
                    borderWidth: 1
                    }]
            },
            options: {
                maintainAspectRation: false,
                scales: { xAxes: [{ ticks: { beginAtZero: true } }] },
                legend: { dsiplay: false }
            },
        });                              
    </script>
    <script>
        //SALES BY YEAR
        var profitByMonth = @Html.Raw(Json.Encode(ViewBag.MonthlyProfit));

        var chart1 = document.getElementById('profitByMonth');
        var xLabels = ['Jan', 'Feb', 'March', 'April', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        var lineChart = new Chart(chart1, {

            type: 'line',
            data: {
                labels: xLabels,
                datasets: [{
                    label: 'Profit By Month',
                    data: profitByMonth,
                    backgroundColor: ["rgba(242,166,54,.5)", "rgba(145,65,72,.5)", "(74,25,92,.5)"],
                    borderColor: ["rgb(242,166,54)", "rgb(145,65,72)", "rgb(74,25,92)"],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRation: false,
                scales: { xAxes: [{ ticks: { beginAtZero: true } }] },
                legend: { dsiplay: false }
            },
        });
    </script>
</body>

</html>