<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<style>
    body {
        background-image: url('../../Images/Home page.PNG');
        background-repeat: no-repeat;
        background-size:1200px;
        background-position:top;
        
           
    }
</style>

<body>

</body>
</html>